.hero {
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* position: relative;
  width: 100%; */
}

/* .heroImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 10vh;
  height: 100%;
  right: 0;
  bottom: 0;
  object-fit: cover;
  object-position: center;
} */

/* @media (min-width: 576px) {
  .heroImg {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .heroImg {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .heroImg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .heroImg {
    max-width: 1140px;
  }
} */
